# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/artifacts
**/build
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules
**/typechain

# files
*.env
*.log
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript build artifacts
commitlint.config.d.ts
commitlint.config.js
hardhat.config.d.ts
hardhat.config.js
tasks/**/*.js
tasks/**/*.d.ts
test/**/*.js
test/**/*.d.ts
